[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts
[submodule "termite-install"]
	path = termite-install
	url = git@github.com:Corwind/termite-install.git
